@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;700&family=Crimson+Pro:wght@300;400;500&family=EB+Garamond:wght@400;600&family=NTR&display=swap');

/* Creation of stick footer helped by following post -
https://stackoverflow.com/questions/21805590/css-sticky-footer */

html {
    position: relative;
    min-height: 100%;
}

h1 {
    font-family: "Caveat", sans-serif;
    font-size: 50px;
    color: #359359;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 25px;
    color: #359359;
}

body {
    font-family: "EB Garamond", sans-serif;
    font-size: 20px;
    margin: 0 0 100px;
}

header {
    height: 90px;
}

#home-break, 
#all-recipes-break,
#recipe-detail-break,
.auth-pages-break,
#create-post-break,
#your-posts-break {
    display: none;
}

a:hover {
    color: #406551;
    text-decoration: none;
}

#delete-btn {
    text-decoration: none;
    color: #359359;
    font-size: 18px;
}

/* logo and navigation dropdown styling */

#logo {
    float: left;
    height: 70px;
    padding-top: 12px;
    color: white;
    margin-left: 10px;
}

#logo>h1>a {
    color: #359359;
}

#logo>h1>a:hover {
    text-decoration: none;
}

.dropdown {
    float: right;
    padding-top: 20px;
    margin-right: 55px;
}

.btn {
    background-color: #359359;
    border: none;
    height: 40px;
}

a {
    color: #359359;
}

#dropdownMenu2 {
    background-color: #359359;
}

body>header>ul {
    padding: 0;
}

/* hero image styling and overlayed text */

#hero-image {
    background-image: url('https://res.cloudinary.com/delase5lw/image/upload/v1682326336/project/hero-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    position: relative;
    align-content: center;
}

#intro-text {
    background-color: white;
    padding: 10px;
    font-size: 40px;
    width: fit-content;
    position: absolute;
    margin-top: 250px;
}

#welcome-text {
    background-color: white;
    padding: 10px;
}

/* footer including social media links styling */

#social-media-heading,
#social-media-links {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.logo-small {
    font-family: "Caveat", sans-serif;
    padding-left: 5px;
    padding-right: 8px;
}

#social-media-links li {
    display: inline-block;
}

#social-media-links li a {
    padding: 10px;
}

footer {
    height: 50px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

#copyright {
    font-size: 15px;
    color: #406551;
    font-weight: bold;
    float: right;
    padding: 5px;
}

body>footer>ul,
#content>footer>ul {
    padding: 0;
}

/* card styling  */

.recipe-box {
    height: 400px;
    color: #406551;
}

.card {
    height: fit-content;
    margin: 20px;
}

.card-body {
    width: fit-content;
}

.post-title>a:hover {
    opacity: 0.5;
}

.recipe-box {
    padding: 0;
}

.card-body {
    padding: 0 10px;
}

#recipe-list-title {
    justify-content: center;
    text-align: center;
}

.like-button,
.fav-button {
    background-color: inherit;
}

/* all recipes page styling */

#all-recipes-title {
    justify-content: center;
    text-align: center;
}

/* recipe detail page styling  */

/* #content>div:nth-child(1) {
    padding-top: 80px;
} */

.recipe-comment-title {
    text-align: center;
}

.recipe-page-text {
    text-align: center;
}

#comment-info {
    text-align: center;
}

/* logout, login and register page styling */

#logout-background,
#login-background,
#signup-background {
    background-image: url('https://res.cloudinary.com/delase5lw/image/upload/v1682512836/pexels-engin-akyurt-2456435_2_k5lqzn.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    padding: 50px;
    align-items: center;
}

#logout-box,
#login-box,
#signup-box {
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    width: fit-content;
}

#id_login,
#id_password,
#id_username,
#id_email,
#id_password,
#id_password1,
#id_password2 {
    display: block;
}

/* edit post page styling */

#delete-btn {
    width: fit-content !important;
    background-color: white !important;
}


/* favourite list page styling */

#fav-page-image {
    background-image: url('https://res.cloudinary.com/delase5lw/image/upload/v1682515487/fav-list-image_baw0u7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 5px;
    width: 100%;
    height: 400px;
    position: relative;
}

.banners {
    background-color: white;
    padding: 5px;
    width: fit-content;
}

#fav-page-image > div {
    position: absolute;
    margin-top: 350px;
}

/* styling your posts page */

.your-posts-text {
    text-align: center;
}

/* media queries for screens 750px and below */

@media (max-width: 750px) {

    header {
        height: 95px;
    }
    
    #fav-page-image {
        background-image: url('https://res.cloudinary.com/delase5lw/image/upload/v1682515733/fav-list-image_baw0u7_a83c61_4ee779.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 200px;
        margin-top: 5px;
    }

    #fav-page-image > div {
        margin-top: 150px;
    }

}

/* media queries for screens 400px and below */

@media (max-width: 400px) {

    #logo,
    .dropdown {
        float: none;
        margin: 0 auto;
        padding: 0;
    }

    header {
        margin: 0;
        text-align: center;
    }

    #hero-image {
        margin: 0;
        padding: 0;
    }

    div>.container {
        padding-top: 0;
    }

    #fav-page-image {
        margin-top: 30px;
    }

    #your-posts-break {
        display: none;
    }

    #home-break,
    #all-recipes-break,
    #recipe-detail-break,
    .auth-pages-break,
    #create-post-break, 
    #your-posts-break {
        display: block;
    }

}

/* media queries for screens 350px and below */

@media (max-width: 350px) {

    #social-media-heading {
        display: none;
    }

    #login-background, 
    #signup-background {
        padding: 0;
    }

}