@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;700&family=Crimson+Pro:wght@300;400;500&family=EB+Garamond:wght@400;600&family=NTR&display=swap');


/* Creation of stick footer helped by following post -
https://stackoverflow.com/questions/21805590/css-sticky-footer */

html {
    position: relative;
    min-height: 100%;
}

h1 {
    font-family: "Caveat", sans-serif;
    font-size: 50px;
    color: #359359;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 25px;
    color: #359359;
}


body {
    font-family: "EB Garamond", sans-serif;
    font-size: 20px;
}

/* logo and navigation dropdown styling */

#logo {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    float: left;
    height: 70px;
    padding-top: 12px;
    color: white;
    margin-left: 10px;
}

#logo > h1 > a {
    color: #359359;
}

#logo > h1 > a:hover {
    text-decoration: none;
}

.dropdown {
    float: right;
    padding-top: 20px;
    margin-right: 55px;
}

.btn {
    background-color: #359359;
    border: none;
    height: 40px;
}

a {
    color: #359359;
}

#dropdownMenu2 {
    background-color: #359359;
}

body > header > ul {
    padding: 0;
}

/* hero image styling and overlayed text */

#hero-image {
    background-image: url('https://res.cloudinary.com/delase5lw/image/upload/v1682326336/project/hero-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    padding-top: 10px;
    margin-top: 20px;
    position: relative;
    align-content: center;
}

#intro-text {
    background-color: white;
    padding: 10px;
    font-size: 40px;
    width: fit-content;
    position: absolute;
    margin-top: 250px;
}

#welcome-text {
    background-color: white;
    padding: 10px;
}


/* footer including social media links styling */

#social-media-heading, #social-media-links {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.logo-small {
    font-family: "Caveat", sans-serif;
    padding-left: 5px;
    padding-right: 8px;
}

#social-media-links li {
    display: inline-block;
}

#social-media-links li a {
    padding: 10px;
}

footer {
    height: 50px;
    /* position: absolute; */
    /* bottom: 0; */
    width: 100%;
}

/* #social-media-links {
    margin: 0 auto;
} */

#copyright {
    font-size: 15px;
    color: #406551;
    font-weight: bold;
    float: right;
    padding: 5px;
}

body > section > footer > ul {
    padding: 0;
}

/* card styling  */

.recipe-box {
    height: 400px;
    color:#406551;
}

.card {
    height: fit-content;
    margin: 20px;
}

.card-body {
    width: fit-content;
}

.post-title>a:hover {
    opacity: 0.5;
}

.recipe-box {
    padding: 0;
}

.card-body {
    padding: 0 10px;
}

#recipe-list-title {
    justify-content: center;
    text-align: center;
}


@media (max-width: 400px) {

    #logo, .dropdown {
        float: none;
        margin: 0 auto;
        padding:0;
    }

    #content {
        padding: 0;
    }

}