{% extends 'base.html' %}

{% block title %}All recipes{% endblock %}

{% block content %}

{% load cloudinary %}

<br id="all-recipes-break">

<div id="all-recipes-title">
    <h2>All recipes</h2>
</div>

<!-- recipe cards - all posts -->

<div class="container">
    <div class="row">
        {% for recipe in recipe_list %}
        <div class="mx-auto card recipe-box col-sm-5 d-inline">
            {% if 'placeholder' in recipe.recipe_image.url %}
                {% cloudinary image="https://res.cloudinary.com/delase5lw/image/upload/c_scale,w_966/v1682324192/project/default.webp" quality="auto:low" width="100%" height="100%" alt="recipe image default" %}
            {% else %}
                {% cloudinary recipe.recipe_image.url quality="auto:low" width="100%" height="100%" crop="scale" alt="custom recipe image" %}
            {% endif %}
            <div class='card-body'>
                <a href="{{ recipe.get_absolute_url }}">
                    <h3 class="post-title">{{ recipe.title }}</h3>
                </a>
                <p class='card-text'>
                    Posted on {{ recipe.publication_date }} by <strong>{{ recipe.author }}</strong>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}