{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}VeggieBytes{% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Plant-based recipe blog">
    <meta name="keywords" content="Plant-based, Vegan, Recipes">
    <link rel="icon" type="image/x-icon"
        href="https://res.cloudinary.com/delase5lw/image/upload/v1682688958/project/android-chrome-512x512_sfgvow.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- Code for messages helped by 'I think therefore I blog' and stack overflow post - see README -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <header>
        <div id="logo">
            <h1><a href="{% url 'home' %}">VeggieBytes</a></h1>
        </div>
        <!-- Creation of dropdown helped by following Bootstrap 4 doc - https://getbootstrap.com/docs/4.0/components/dropdowns/ -->
        <!-- Navigation dropdown -->
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Navigation
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button"><a href="{% url 'home' %}">Home</a></button>
                <button class="dropdown-item" type="button"><a href="{% url 'all-recipes' %}">All recipes</a></button>
                {% if user.is_authenticated%}
                <button class="dropdown-item" type="button"><a href="{% url 'favourite-list' %}">Favourite
                        list</a></button>
                <button class="dropdown-item" type="button"><a href="{% url 'your-posts-list' %}">Your post
                        list</a></button>
                <button class="dropdown-item" type="button"><a href="{% url 'create-post' %}">Create Post</a></button>
                <button class="dropdown-item" type="button"><a href="{% url 'account_logout' %}">Logout</a></button>
                {% else %}
                <button class="dropdown-item" type="button"><a href="{% url 'account_login' %}">Login</a></button>
                <button class="dropdown-item" type="button"><a href="{% url 'account_signup' %}">Signup</a></button>
                {% endif%}
            </div>
        </div>
        <br>
    </header>

    <div id="content">
        {% block content %}
        <!-- Content goes here -->
        {% endblock %}
    </div>
    <hr>

    <!-- Footer including social media links and copyright -->
    <footer>
        <div id="social-media-heading">
            <h3>Join the</h3>
            <h3 class="logo-small">VeggieBytes</h3>
            <h3>community!</h3>
        </div>
        <ul>
            <div id="social-media-links">
                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://www.tiktok.com/" target="_blank"><i class="fa-brands fa-tiktok"></i></a></li>
            </div>
        </ul>
        <p id="copyright">&copy; VeggieBytes 2023</p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/d521ba99a7.js" crossorigin="anonymous"></script>
    <script>
        // Writing of timeout function helped by 'I think therefore I am' CI tutorial
        let messages = document.getElementById("msg");
        if (messages) {
            setTimeout(function () {
                let alert = new bootstrap.Alert(messages);
                alert.close();
            }, 3000);
        }

        // Function to allow modal to show
        $('#delete-btn').click(function () {
            $('#modal').modal('show');
        })
    </script>

</body>

</html>