{% extends 'base.html' %}

{% block title %}Create a recipe post{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<!-- Create a recipe post form -->

<br id="create-post-break">

<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class='col card mb-4 mt-4 left top mx-auto'>
                <div class='card-body mx-auto'>
                    <h3 id="create-post-title">Create a Post</h3>
                    <hr>
                    {% csrf_token %}
                    {{ post_form | crispy }}
                    <button type="submit" class="btn btn-primary btn-md mb-3" id="post-btn">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}