{% extends 'base.html' %}

{% block title %}Edit post{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">

  <!-- alert for when user submits draft or post -->

  {% if new_post and new_post.status == 1 %}
  <div class="alert alert-success" role="alert">
    Your post is awaiting approval </div>
  {% elif new_post and new_post.status == 0 %}
  <div class="alert alert-success" role="alert">
    Your draft has been saved </div>
  {% else %}

  {% if user.is_authenticated %}

  <!-- edit post form -->
  <h3>Edit Post</h3>
  <div class="row">
    <div class='col card mb-4 mt-4 left top mx-auto'>
      <form method="post" enctype="multipart/form-data">
        <div class='card-body mx-auto'>
          <p class='card-text'>
            {{ post_form | crispy }}
            {% csrf_token %}
          </p>
          <button type="submit" class="btn btn-primary btn-md d-inline">Update</button>
        </div>
      </form>
      <br>
    <div class="d-flex flex-row-reverse">
      <button type="submit" class="btn btn-link" id="delete-btn">Delete post</button>
    </div>
  </div>
    <!-- Modal for delete confirmation -->
    <div id="modal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete confirmation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you would like to delete this post?</p>
          </div>
          <div class="modal-footer">
            <a class="btn btn-secondary" href="{% url 'delete-post' recipe.slug %}" role="button">Delete post</a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endif %}
{% endif %}


{% endblock %}