{% extends 'base.html' %}

{% block title %}Your favourite list!{% endblock %}

{% block content %}

{% load cloudinary %}

<!-- favourite page banner -->
<div id="fav-page-image">
    <div class="banners">
        <h2>Your favourite recipes</h2>
    </div>
</div>
<br>
<!-- favourite recipes list -->
<div class="container">
    <div class="row">
        {% for fav in fav_recipes %}
        <div class="mx-auto card recipe-box col-sm-5 d-inline" style="width: 18rem;">
            {% if 'placeholder' in fav.recipe_image.url %}
            <img src="https://res.cloudinary.com/delase5lw/image/upload/w_966/v1682324192/project/default.webp"
                class="card-img" alt="recipe image default">
            {% else %}
            <img src="{{ fav.recipe_image.url }}" class="card-img" alt="custom recipe image">
            {% endif %}
            <div class='card-body'>
                <a href="{{ fav.get_absolute_url }}">
                    <h3 class="post-title">{{ fav.title }}</h3>
                </a>
                <p class='card-text'>
                    Posted on {{ fav.publication_date }} by <strong>{{ fav.author }}</strong>
                </p>
            </div>
        </div>
        {% empty %}
        <p>You have not favourited any recipes</p>
        {% endfor %}
    </div>
</div>

{% endblock %}