{% extends 'base.html' %}

{% block title %}Your favourite list!{% endblock %}

{% block content %}

<div id="fav-page-image">
    <div class="banners">
        <h2>Your favourite recipes</h2>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        {% for fav in fav_recipes %}
        <div class="mx-auto card recipe-box col-sm-5 d-inline" style="width: 18rem;">
            {% if 'placeholder' in fav.recipe_image.url %}
            <img class="card-img-top" alt="recipe image"
                src="https://res.cloudinary.com/delase5lw/image/upload/v1682324192/project/default.jpg.jpg">
            {% else %}
            <img class="card-img-top" src="{{ fav.recipe_image.url }}">
            {% endif %}
            <div class='card-body'>
                <p class='card-text'>
                    <a href="{{ fav.get_absolute_url }}">
                        <h3 class="post-title">{{ fav.title }}</h3>
                    </a>
                    Posted on {{ fav.publication_date }} by <strong>{{ fav.author }}</strong>
                </p>
            </div>
        </div>
        {% empty %}
        <p>You have not favourited any recipes</p>
        {% endfor %}
    </div>
</div>

{% endblock %}