{% extends 'base.html' %}
{% load static  %}

{% block title %}VeggieBytes{% endblock %}

{% block content %}

{% load cloudinary %}

<!-- Hero image banner and welcome to site text -->
<br id="home-break">
<div id="hero-image">
    <div id="intro-text">
        <h2>Plant-based recipes for all.</h2>
    </div>
</div>

<div id="welcome-text">
    <hr>
    <p>
        Here at VeggieBytes we provide a platform for users to share plant-based recipes.
        Switching partially or completely to a plant-based diet can be overwhelming as many of our favourite dishes
        often require animal products.
        Here the community and the VeggieBytes team provide recipes of varying difficulties - allowing users of varying
        confidence levels in cooking to try plant-based recipes.
        Whether you're concerned about animal welfare, the environment, or simply just want to try out some plant-based
        recipes - this is the place for you!
        If you would like to post your own plant-based recipes, interact with the conversation or create your own
        favourite recipe list - please sign up with us and join the community!
    </p>
    <hr>
</div>

<div id="recipe-list-title">
    <h2>Recently posted recipes</h2>
</div>

<!-- Recipe cards -->

<div class="container">
    <div class="row">
        {% for recipe in recipe_list %}
        <div class="mx-auto card recipe-box col-sm-5 d-inline">
            {% if 'placeholder' in recipe.recipe_image.url %}
            <img src="https://res.cloudinary.com/delase5lw/image/upload/w_966/v1682324192/project/default.webp"
                class="card-img" alt="recipe image default">
            {% else %}
            <img src="{{ recipe.recipe_image.url }}" class="card-img" alt="custom recipe image">
            {% endif %}
            <div class='card-body'>
                <a href="{{ recipe.get_absolute_url }}">
                    <h3 class="post-title">{{ recipe.title }}</h3>
                </a>
                <p class='card-text'>
                    Posted on {{ recipe.publication_date }} by <strong>{{ recipe.author }}</strong>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}