{% extends 'base.html' %}

{% block title %}Recipes{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<br id="recipe-detail-break">

<!-- Recipe card detail -->

<div class="container">
    <div class="row">
        <div class='col card mb-4 mt-3 left top col-lg-6 mx-auto'>
            <div class='card-body mx-auto'>
                <p class='card-text'>
                    <h2 class="post-title">{{ recipe.title }}</h2>
                    <strong>Author:</strong> {{ recipe.author }}<br>
                    <strong>Publication date:</strong> {{ recipe.publication_date }}<br>
                    {% if recipe.publication_date != recipe.edited_date %}
                    <strong>Edited on:</strong> {{ recipe.edited_date }}<br>
                    {% endif %}
                    <hr>
                    {% if 'placeholder' in recipe.recipe_image.url %}
                    <img class="card-img-top" alt="recipe image default"
                        src="https://res.cloudinary.com/delase5lw/image/upload/v1682324192/project/default.jpg.jpg">
                    {% else %}
                    <img class="card-img-top" alt="custom recipe image" src="{{ recipe.recipe_image.url }}">
                    {% endif %}
                    <strong>Taste type:</strong> {{ recipe.get_taste_type_display }}<br>
                    <strong>Skill level:</strong> {{ recipe.get_skill_level_display }}<br>
                    <strong>Prepartion time: </strong>{{ recipe.preparation_time }} minutes
                    <hr>
                    <strong>Ingredients:</strong> {{ recipe.ingredients | safe }}
                    <hr>
                    <strong>Instructions:</strong> {{ recipe.instructions | safe }}
                </p>
                <div class="container">
                    <div class="d-flex flex-row-reverse">
                        <!-- Favourite/Unfavourite button -->
                        <div class="col-sm-1 mb-3">
                            <span class="text-success">{{ recipe.num_of_favorites }}</span>
                        </div>
                        <div class="col-sm-1 mb-3">
                            <form action="{% url 'favourite-view' recipe.slug %}" method="POST">
                                {% csrf_token %}
                                {% if user.is_authenticated %}
                                {% if favourited %}
                                <button input="submit" name="favourite-button" class="text-success border-0 fav-button"
                                    value="{{ recipe.slug }}"><i class="fa-solid fa-bookmark"></i></button>
                                {% else %}
                                <button input="submit" name="favourite-button" class="text-success border-0 fav-button"
                                    value="{{ recipe.slug }}"><i class="fa-regular fa-bookmark"></i></i></button>
                                {% endif %}
                                {% else %}
                                <span class="text-secondary"><i class="fa-regular fa-bookmark"></i></span>
                                {% endif %}
                            </form>

                        </div>
                        <!-- Like/Unlike button -->
                        <div class="col-sm-1 mb-3">
                            <span class="text-success">{{ recipe.num_of_likes }}</span>
                        </div>

                        <div class="col-sm-1 mb-3">
                            <form action="{% url 'like-recipe' recipe.slug %}" method="POST">
                                {% csrf_token %}
                                {% if user.is_authenticated %}
                                {% if liked %}
                                <button input="submit" name="likes-button" class="text-success border-0 like-button"
                                    value="{{ recipe.slug }}"><i class="fas fa-heart"></i></button>
                                {% else %}
                                <button input="submit" name="likes-button" class="text-success border-0 like-button"
                                    value="{{ recipe.slug }}"><i class="far fa-heart"></i></button>
                                {% endif %}
                                {% else %}
                                <span class="text-secondary"><i class="far fa-heart"></i></span>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Comments form -->

<div class="container">
    {% if comment %}
    <div class="alert alert-success" role="alert">
        <p id="comment-info">Your comment is awaiting approval</p>
    </div>
    {% else %}
    {% if user.is_authenticated %}
    <h3 class="recipe-comment-title">Leave a comment</h3>
    <form method="post">
        <div class="row">
            <div class='col card mb-4 mt-4 left top col-lg-6 mx-auto'>
                <div class='card-body mx-auto'>
                    <p class='card-text mx-auto'>
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success mb-3">Submit</buttom>
                    </p>
                </div>
            </div>
    </form>
    {% else %}
    <p class="recipe-page-text">Please <a href="{% url 'account_login' %}">Login</a> or <a
            href="{% url 'account_signup' %}">Signup</a> if you
        would wish to like, favourite or comment on this post</p>
    {% endif %}
    {% endif %}
</div>

<!-- Recipe comments -->

<h3 class="recipe-comment-title">Comments</h3>
{% for comment in comments %}

<div class="container">
    <div class="row">
        <div class='col card mb-4 mt-3 left top col-lg-6 mx-auto'>
            <div class='card-body mx-auto'>
                <p class='card-text'>
                    <strong>{{ comment.name }}</strong> | {{ comment.created_on }}
                    <br>
                    {{ comment.body }}
                </p>
            </div>
        </div>
    </div>
</div>

{% empty %}

<p class="recipe-page-text">There are no comments for this post</p>

{% endfor %}

{% endblock %}