{% extends 'base.html' %}

{% block title %}Recipes{% endblock %}

{% block content %}

{% load cloudinary %}

<br id="your-posts-break">
<hr>

<h2 class="your-posts-text">Your published articles</h2>

<!-- User's published posts list -->

{% for post in your_published_posts %}

<div class="container">
    <div class="row">
        <div class="mx-auto card recipe-box col-sm-6 d-inline">
            {% if 'placeholder' in post.recipe_image.url %}
                {% cloudinary image="https://res.cloudinary.com/delase5lw/image/upload/c_scale,w_966/v1682324192/project/default.webp" quality="auto:low" width="100%" height="100%" alt="recipe image default" %}
            {% else %}
                {% cloudinary post.recipe_image.url quality="auto:low" width="100%" height="100%" crop="scale" alt="custom recipe image" %}
            {% endif %}
            <div class='card-body'>
                <a href="{{ post.get_absolute_url }}">
                    <h3 class="post-title">{{ post.title }}</h3>
                </a>
                <div class="col-sm">
                    <p><a href="{% url 'edit-post' post.slug %}">Edit post</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% empty %}

<p class="your-posts-text"> You have no published posts. </p>

{% endfor %}

<hr>

<h2 class="your-posts-text">Your drafts</h2>

<!-- User's draft posts list -->

{% for post in your_draft_posts %}

<div id="your-posts-background">
    <div class="container">
        <div class="row">
            <div class="mx-auto card recipe-box col-sm-6 d-inline">
            {% if 'placeholder' in post.recipe_image.url %}
                {% cloudinary image="https://res.cloudinary.com/delase5lw/image/upload/c_scale,w_966/v1682324192/project/default.webp" quality="auto:low" width="100%" height="100%" alt="recipe image default" %}
            {% else %}
                {% cloudinary post.recipe_image.url quality="auto:low" width="100%" height="100%" crop="scale" alt="custom recipe image" %}
            {% endif %}
                <div class='card-body'>
                    <a href="{{ post.get_absolute_url }}">
                        <h3 class="post-title">{{ post.title }}</h3>
                    </a>
                    <div class="col-sm">
                        <p><a href="{% url 'edit-post' post.slug %}">Edit post</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% empty %}

<p class="your-posts-text"> You have no draft posts. </p>

{% endfor %}

{% endblock %}